.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-saTY-FX7OQvc);
  font-family: var(--token-_ORyr1kxScYV);
  font-size: var(--token-Ksh1zKw-owQK);
  line-height: var(--token-dwugVTOUC9HT);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-fnGd_O_5RCpH);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Bt4ZeEjdJxl5);
  outline-offset: 1px;
  outline-color: var(--token-Ed-FuA-u9iqb);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-O8YDx0L28YNi);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-0bjeeIwPDgHR);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-hsBupwPwT_8o);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-1U7PVoTPqfkq);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-8HzeYdoAoSUj);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-md6-_knJDAOv);
  font-size: var(--token-krfV-WKZEqK1);
  column-gap: var(--token-Bt4ZeEjdJxl5);
  row-gap: 0px;
  border-radius: var(--token-lxPjhPjiU69S);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-krfV-WKZEqK1);
  line-height: var(--token-md6-_knJDAOv);
  column-gap: var(--token-lxPjhPjiU69S);
  row-gap: 0px;
  border-radius: var(--token-lxPjhPjiU69S);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Eu4LxQF4KxGF);
  line-height: var(--token-h_8yCU9aEKNy);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Eu4LxQF4KxGF);
  line-height: var(--token-h_8yCU9aEKNy);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-sULjuNjefjPF);
  border-radius: var(--token-fnGd_O_5RCpH);
}
.softBackgroundcolor_neutral {
  background: var(--token-soDuAZRZehgN);
}
.softBackgroundcolor_muted {
  background: var(--token-8A1i_Mv-_7d0);
}
.softBackgroundcolor_success {
  background: var(--token-etQBoLrNg-aH);
}
.softBackgroundcolor_warning {
  background: var(--token-G1pOc3mA98Dx);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-kOiI7DB8g59M);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-fnGd_O_5RCpH);
  border: 0px solid var(--token-UHkyqO0CwGp0);
}
.bordercolor_neutral {
  border-color: var(--token-3TEFaYasvbgI);
}
.bordercolor_muted {
  border-color: var(--token-E6arN8W7a3Jp);
}
.bordercolor_success {
  border-color: var(--token-IqhmdfpxYuvF);
}
.bordercolor_warning {
  border-color: var(--token-LpWL1BJBCgGT);
}
.bordercolor_errorDestructive {
  border-color: var(--token-AbMepar4UV9K);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-fnGd_O_5RCpH);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Odn3xhSjgRQR);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-OLf-ZHCwIiGe);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-2QIbtThbkeV7);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__f3BSu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-fnGd_O_5RCpH);
  min-width: 0;
  min-height: 0;
  padding: var(--token-fnGd_O_5RCpH) var(--token-BBQd-7qFh7ei);
}
.freeBoxsize_extraSmall__f3BSuP9Sx5 {
  padding: var(--token-lxPjhPjiU69S) var(--token-fnGd_O_5RCpH);
}
.freeBoxsize_small__f3BSudXbe2 {
  padding: var(--token-fnGd_O_5RCpH) var(--token-saTY-FX7OQvc);
}
.freeBoxsize_large__f3BSuGGav {
  padding-top: var(--token-lxPjhPjiU69S);
  padding-bottom: var(--token-lxPjhPjiU69S);
}
.freeBoxsize_extraLarge__f3BSuKrvey {
  padding-left: var(--token-ozSVm4bPDS7p);
  padding-right: var(--token-ozSVm4bPDS7p);
}
.freeBoxroundedFull__f3BSuvpX70 {
  padding-right: var(--token-ozSVm4bPDS7p);
  padding-left: var(--token-ozSVm4bPDS7p);
}
.freeBox__kmbPt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__kmbPta9FO9 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-QkHRVEXoc3SD);
}
.slotTargetStartcolor_neutral {
  color: var(--token-VUzpNXp2HGIg);
}
.slotTargetStartcolor_muted {
  color: var(--token-7uyPQmMBzCZs);
}
.slotTargetStartcolor_success {
  color: var(--token-7aFKrbsUhtyc);
}
.slotTargetStartcolor_warning {
  color: var(--token-LXWyZ1CJsJ6C);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-BeZDhMMfHGW8);
}
.slotTargetStarttype_soft {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetStarttype_bordered {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-krfV-WKZEqK1);
}
.slotTargetStartsize_small {
  font-size: var(--token-krfV-WKZEqK1);
}
.slotTargetStartsize_large {
  font-size: var(--token-Eu4LxQF4KxGF);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Eu4LxQF4KxGF);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-N56Q3OZWJHLv);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-N56Q3OZWJHLv);
}
.svg___0C13M {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-QkHRVEXoc3SD);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-VUzpNXp2HGIg);
}
.slotTargetLabelcolor_muted {
  color: var(--token-7uyPQmMBzCZs);
}
.slotTargetLabelcolor_success {
  color: var(--token-7aFKrbsUhtyc);
}
.slotTargetLabelcolor_warning {
  color: var(--token-LXWyZ1CJsJ6C);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-BeZDhMMfHGW8);
}
.slotTargetLabeltype_soft {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetLabeltype_bordered {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-N56Q3OZWJHLv);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-N56Q3OZWJHLv);
}
.text__qdQA {
  white-space: pre;
}
.freeBox___1Zfro {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1ZfroZ4V9C {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-QkHRVEXoc3SD);
}
.slotTargetEndcolor_neutral {
  color: var(--token-VUzpNXp2HGIg);
}
.slotTargetEndcolor_muted {
  color: var(--token-7uyPQmMBzCZs);
}
.slotTargetEndcolor_success {
  color: var(--token-7aFKrbsUhtyc);
}
.slotTargetEndcolor_warning {
  color: var(--token-LXWyZ1CJsJ6C);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-BeZDhMMfHGW8);
}
.slotTargetEndtype_soft {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetEndtype_bordered {
  color: var(--token-3x2sAhYDqeMQ);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-krfV-WKZEqK1);
}
.slotTargetEndsize_small {
  font-size: var(--token-krfV-WKZEqK1);
}
.slotTargetEndsize_large {
  font-size: var(--token-Eu4LxQF4KxGF);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Eu4LxQF4KxGF);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-GSfsZncnuBTu);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-0dQbi5RnIYeg);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-leZMyTzn1yzc);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-pGe6DlLSjLYg);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-N56Q3OZWJHLv);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-N56Q3OZWJHLv);
}
.svg__xOJmo {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
